pandas 
mlflow==2.2.2
notebook
imblearn
numpy
missingno
seaborn
plotly
scikit-learn
xgboost
catboost
lightgbm
ipywidgets
optuna
streamlit
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
-e .